.studio-controls {
  position: absolute;
  z-index: 10;
}

.map-svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.brush
{
  fill:green;
  stroke:green;
  stroke-width: 100;
  fill-opacity: .2;
}

.map-border {
  stroke: black;
  fill: none;
  stroke-width: 500;
}

.dark .map-border {
  stroke: white;
}

.rail,
.rail-deck,
.grade,
.stone-wall,
.wooden-bridge,
.steel-bridge {
  fill: none;
}

.rail {
  stroke: black;
  stroke-width: 128;
}

.dark .rail {
  stroke: white;
}

.rail.hidden {
  stroke: blue;
  stroke-width: 200;
  opacity: 0.5;
}

.rail-deck {
  stroke: brown;
  stroke-width: 256;
}

.dark .rail-deck {
  stroke: burlywood;
}

.rail-deck.hidden {
  stroke: green;
  stroke-width: 350;
  opacity: 0.5;
}

.grade {
  stroke: sienna;
}

.dark .grade {
  stroke: darkkhaki;
}

.stone-wall {
  stroke: darkgray;
}

.wooden-bridge {
  stroke: goldenrod;
}

.dark .wooden-bridge {
  stroke: lightgoldenrodyellow;
}

.steel-bridge {
  stroke: slateblue;
}

.grade,
.stone-wall,
.wooden-bridge,
.steel-bridge {
  stroke-width: 500;
}

.rail:hover,
.rail-deck:hover,
.grade:hover,
.stone-wall:hover,
.wooden-bridge:hover,
.steel-bridge:hover {
  opacity: 0.8;
  stroke: red;
}

.grade.hidden,
.stone-wall.hidden,
.wooden-bridge.hidden,
.steel-bridge.hidden {
  stroke-width: 400;
  opacity: 0.5;
}

.rail.hidden:hover,
.rail-deck.hidden:hover,
.grade.hidden:hover,
.stone-wall.hidden:hover,
.wooden-bridge.hidden:hover,
.steel-bridge.hidden:hover {
  opacity: 0.8;
}

.switch-leg.aligned {
  stroke: black;
  stroke-width: 128;
}

.dark .switch-leg.aligned {
  stroke: white;
}

.switch-leg.not-aligned {
  stroke: red;
  stroke-width: 128;
  opacity: 0.5;
}

.diamond {
  fill: yellow;
}

.control-point-0 {
  fill: red;
}

.control-point-1 {
  fill: blue;
}

.control-point-2 {
  fill: green;
}

.dark .control-point-0 {
  fill: magenta;
}

.dark .control-point-1 {
  fill: cyan;
}

.dark .control-point-2 {
  fill: yellow;
}

.control-point-0:hover,
.control-point-1:hover,
.control-point-2:hover {
  opacity: 0.5;
}

.frame {
  rx: 128;
  stroke-width: 32;
  stroke: black;
}

.dark .frame {
  stroke: white;
}

.frame:hover {
  opacity: 0.5;
}

.frame.brakes-applied {
  stroke: red;
}

.frame-class70,
.frame-climax,
.frame-cooke260,
.frame-eureka,
.frame-heisler,
.frame-porter_040,
.frame-porter_042 {
  fill: purple;
}

.frame-class70_tender,
.frame-cooke260_tender,
.frame-eureka_tender {
  fill: black;
}

.frame-caboose {
  fill: black;
}

.frame-boxcar {
  fill: #66f081;
}

.frame-boxcar.cargo-loaded {
  fill: #36cc00;
}

.frame-flatcar_cordwood {
  fill: #fdbf77;
}

.frame-flatcar_cordwood.cargo-loaded {
  fill: orange;
}

.frame-flatcar_hopper {
  fill: #a7a7a9;
}

.frame-flatcar_hopper.cargo-loaded {
  fill: black;
}

.frame-flatcar_logs {
  fill: #f99a9a;
}

.frame-flatcar_logs.cargo-loaded {
  fill: red;
}

.frame-flatcar_stakes {
  fill: #fdbf77;
}

.frame-flatcar_stakes.cargo-loaded {
  fill: #f38a12;
}

.frame-flatcar_tanker {
  fill: #9090f9;
}

.frame-flatcar_tanker.cargo-loaded {
  fill: blue;
}

.frame-handcar {
  fill: white;
}

.frame-text {
  font-size: 50%;
}

.xray .rail,
.xray .rail-deck,
.xray .grade,
.xray .stone-wall,
.xray .wooden-bridge,
.xray .steel-bridge,
.xray .switch-leg.aligned,
.xray .diamond {
  opacity: 0.9;
}

.dark .frame-text,
.dark .grade-text,
.dark .player {
  fill: white;
}

.dark image {
  --webkit-filter: invert(100%);
  filter: invert(100%);
}

.tree {
  fill: green;
  stroke: darkgreen;
  stroke-width: 50;
}

.turntable {
  stroke: black;
  stroke-width: 20;
  fill: white;
}

.dark .turntable {
  stroke: white;
  fill: black;
}